@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --color-primary: #0ff;
    --color-secondary: #00a9b4;
    --color-white: #fff;
    --color-gray-1: #151515;
    --color-gray-2: #1e1e1e;
    --color-gray-3: #333;
    --color-gray-4: #4e4e4e;
    --color-gray-5: #888888;
    --color-gray-6: #00646a;
}
/* 
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
} */
/* 
body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
} */
@layer components {
    .loader::before,
    .loader::after {
        position: absolute;
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        background: #00a9b4; /* $color-loader */
        animation: load 0.7s infinite alternate ease-in-out;
    }

    .loader::before {
        top: 0;
    }

    .loader::after {
        bottom: 0;
    }
}

@keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 40px;
    }
    100% {
        left: 235px;
        height: 30px;
        width: 15px;
    }
}
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .h-2-3-bottom {
        height: 66.67%;
        margin-top: auto;
    }
}
